#categories .contenedor {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#categories img {
    width: 190px;
    height:190px;
    margin:7px;
}

#categories button {
    background: none;
    border: none;
    cursor: pointer;
}
#categories button:hover {

}
#categories p {
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
#resultByTypeGrass .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}