#categories .contenedor {
    /* margin-top: 260px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#categories img {
    width: 150px;
    height:150px;
    margin:25px;
}

#categories button {
    background: none;
    border: none;
    cursor: pointer;
}
#categories button:hover {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 130px;
}
#categories p {
    color:black;
    font-family: 'Questrial', sans-serif;
    font-size: 22px;
}
#resultByTypeGrass .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}