#categories .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

#categories img {
    width: 150px;
    height:150px;
    margin:25px;
}

#categories button {
    background: none;
    border: none;
    cursor: pointer;
}
#categories button:hover {
    background: rgba(0, 0, 0, 0.35);
    border-radius: 130px;
}
#categories p {
    color:black;
    font-family: 'Questrial', sans-serif;
    font-size: 22px;
}
#resultByTypeGrass .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (max-width:768px) { 
    #categories img {
        width: 100px;
        height:100px;
        margin:10px;
    }
    #categories .contenedor {
        padding:10px;
    }
}