#menu-bar {
    display: none;
}

header label {
    display: none;
    /* width: 30 px;
    height: 30 px; */
    /* padding: 10 px; */
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 180px;
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    left: 549px;
        top: 304px;
}
.menu li:hover {
    background: rgba(0,0,0,0.3);
}
.menu li a {
    display: block;
    padding: 20px 30px;

    color: #fff;
    text-decoration: none;
}

#average {
    position: absolute;
    right: 19px;
    top: 160px;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width:768px) {
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        left: 19px;
        top: 250px;
        /* background: rgba(52,173,236); */
        background: linear-gradient(to bottom, white, #00BFFF);
        color: tomato;
        width: 50%;
        margin-left:-70%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
    #menu-bar:checked ~ .menu {
        margin: 0;
    }
}