#menu-bar {
    display: none;
}

header label {
    display: none;
    width: 30 px;
    height: 30 px;
    padding: 10 px;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 180px;
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    position: absolute;
    left: 0px;
    top: 160px;
}

.menu li a {
    display: block;
    padding: 20px 30px;
    font-family:'Rokkitt', serif;
    background:linear-gradient(to top, white, #00BFFF);
    border-right: 1px solid #fff ;
    color: rgb(136, 136, 136);
    text-decoration: none;
}

.menu li:hover {
    background: rgba(0,0,0,0.3);
}

#average {
    position: absolute;
    right: 19px;
    top: 160px;
    background: none;
    border: none;
    cursor: pointer;
}

#Intro{
    position: absolute;
    left: 200px;
    top: 220px;
}

@media (max-width:768px) {
    header label {
        display: block;
    }
    #Intro{
        position: absolute;
    left:70px;
    top: 190px;
    }
    .menu {
        position: absolute;
        left: 19px;
        top: 100px;
    
        background: linear-gradient(to bottom, white, #00BFFF);
        color: tomato;
        width: 50%;
        margin-left:-70%;
        transition: all 0.5s;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li {
        border-top: 1px solid #fff;
    }
    #menu-bar:checked ~ .menu {
        margin: 0;
    }
   
}
