@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Questrial');
@import url("menu.css");
@import url("categories.css");
@import url("resutByTipe.css");
@import url("description.css");
@import url("responsive.css");
@import url("search.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: linear-gradient(to bottom, white,rgb(255, 171, 180));
    background-repeat: no-repeat;
    font-family:'Montserrat Alternates', sans-serif;
}

header {
    width: 100%;
    height: 160px;
    background-image: url(images/banner3.jpg);
    position: absolute;
    top: 0%;
    left: 0;
    align-content: center;
    z-index: 100;
}

header .contenedor {
    display: table;
}

.contenedor {
    width: 90%;
    margin: auto;

}

h2 {
    font-family:'Questrial', sans-serif;
    float: unset;
    color: rgb(255, 61, 94);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
h3 {
    font-family:'Questrial', sans-serif;
    color:rgb(0, 151, 156);
}

section {
    height: 100%;
    margin-top: 260px;
    margin-bottom: 25px;
}

.buttonAction{
    /* display: inline-block; */
    text-decoration: none;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 16px;
    font-weight: 600; 
    color: rgba(15, 157, 88);
    cursor: pointer;
    background: linear-gradient(to top,rgb(255, 171, 180), rgba(15, 157, 88, 0.384));
    border: 1px solid #0F9D58;
    padding: 0.5em 2em;
    border-radius: 10px;
    margin: auto;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.buttonAction:hover{
    background: rgba(158, 158, 158, 0.3);

}

@media only screen and (max-width:768px) { 
    h2 {
        font-size: 20px;
        padding: 1px;
    }
}