@import url('https://fonts.googleapis.com/css?family=Rokkitt');
@import url("fontello.css");
@import url("menu.css");
@import url("banner.css");
@import url("categories.css");
@import url("search.css");
/*<link rel="stylesheet" href="fontello.css">*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family:'Rokkitt', serif;
}
header {
    width: 100%;
    height: 160px;
    background-image: url(images/banner3.jpg);
    color: #fff;
    position: absolute;
    top: 0%;
    left: 0;
    align-content: center;
    z-index: 100;
}
.contenedor {
width: 90%;
margin: auto;
}
h1 {
    float: left;
    color: yellow;
}
h2 {
    float: left;
    color: palevioletred;
}
h1 {
    float: left;
    color: yellow;
}
header .contenedor {
    display: table;

}
section {
    width: 100%;
    margin-bottom: 25px;
}
#resultByType {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#resultByType img{
    width: 150px;
    height:150px;
    margin:7px;
    border: 1px solid turquoise;
    box-sizing: border-box;
    border-radius: 15px;
}

.type #nameElement {
    margin-left: 30px;
    text-align: center;
}

#resultByTypeSort {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#resultByTypeSort img{
    width: 150px;
    height:150px;
    margin:7px;
    border: 1px solid turquoise;
    box-sizing: border-box;
    border-radius: 15px;
}